/* Write a selector to target the h1 in the first “hero” section */

.jumbotron h1 {
  text-transform: uppercase;
  color: blue;
  font-weight: 900;
}

/* Write a selector to target every children of the navbar */

nav * {
  text-decoration: underline;
  color: blue;
  background-color: yellow;
}

/* Write a selector to target the “continue reading…” inside the jumbotron */

.jumbotron p a {
  text-transform: uppercase;
  color: blue;
  background-color: yellow;
}

/* Write a selector to target the first blogpost */
.blog-post:first-of-type {
  color: blue;
}

/* Write a selector to target the first blogpost <hr> and turn it red */

.blog-post hr {
  border: none;
  height: 10px;
  background-color: red;
}

/* Write a selector to target the “even” links in the navbar */

.nav span:nth-of-type(even) {
  text-decoration: none;
  background-color: white;
}
/* Write a selector to target all the <li> into the first ordered-list in the sidebar ( Archives ) */

aside div:nth-child(2) ol li a {
  text-transform: uppercase;
  background-color: yellow;
}

/* Write a selector to target the second blog-post author */

main div:nth-child(3) p:first-of-type a {
  background-color: yellow;
}

/* Write a selector to target the second <li> in the third blog-post unordered-list */

main div:nth-child(4) ul li:nth-child(2) {
  color: blue;
}

/* Write a selector to target the “back to top” link you can find at the bottom-right corner */

body > a:last-of-type {
  background-color: yellow;
}
/* Write a selector to target the “Newer” button at the bottom */

main div:nth-child(1) > nav a:last-of-type {
  background-color: yellow;
}

/* Write a selector to target the footer’s second link */

footer p a:last-of-type {
  background-color: yellow;
}
